/** Main Styling CSS File **/

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/src/fonts/HelveticaNeue-01.ttf') format('ttf'),
         url('/src/fonts/HelveticaNeue-Bold-02.ttf') format('ttf'),
         url('/src/fonts/HelveticaNeue-BoldItalic-04.ttf') format('ttf'),
         url('/src/fonts/HelveticaNeue-CondensedBlack-10.ttf') format('ttf'),
         url('/src/fonts/HelveticaNeue-CondensedBold-05.ttf') format('ttf'),
         url('/src/fonts/HelveticaNeue-Italic-03.ttf') format('ttf'),
         url('/src/fonts/HelveticaNeue-Light-08.ttf') format('ttf'),
         url('/src/fonts/HelveticaNeue-LightItalic-09.ttf') format('ttf'),
         url('/src/fonts/HelveticaNeue-Medium-11.ttf') format('ttf'),
         url('/src/fonts/HelveticaNeue-MediumItalic-12.ttf') format('ttf'),
         url('/src/fonts/HelveticaNeue-Thin-13.ttf') format('ttf'),
         url('/src/fonts/HelveticaNeue-ThinItalic-14.ttf') format('ttf'),
         url('/src/fonts/HelveticaNeue-UltraLight-06.ttf') format('ttf'),
         url('/src/fonts/HelveticaNeue-UltraLightItalic-07.ttf') format('ttf')
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HelveticaNeue';
}

input{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding: 13px 83px 16px 16px;
}

input[type='file'] {
    opacity:0    
}

::-webkit-file-upload-button {
    display: none;
 }

/** START COMPONENT **/

.start-main{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    width: 100%;
    height: 100%;

    max-width: 1920px;
    max-height: 1080px;

    background: url('/src/img/shutterstock_2189773743.jpg');
}
.start-header-logo{
    position: absolute;
    width: 236px;
    height: 38px;
    left: 70px;
    top: 25px;

    background: url('/src/img/LOGO-02.svg');
}

.start-hr{
    position: absolute;
    height: 0px;
    left: 70px;
    right: 70px;
    top: 89px;
    
    border: 1px solid #1A1A1A;
}

.start-btn{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    position: absolute;
    width: 464px;
    height: 60px;
    left: calc(50% - 464px/2);
    top: 513px;

    background: #1A1A1A;
    border-radius: 8px;
}

.start-btn-label{
    width: 330px;
    height: 24px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.start-stamp-logo{
    position: absolute;
    width: 299px;
    height: 299px;
    left: 1076px;
    top: 473px;
    mix-blend-mode: multiply;
}


/** Global Used **/

.ellipse{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 45px;

    cursor: pointer;
}

.arrow-left{
    position: absolute;
    width: 9.21px;
    height: 16px;
    left: 62px;
    top: 57px;

    cursor: pointer;
}

.breadcump-items{
    height: 91px;
}

.breadcump-info{
    position: absolute;
    width: 179px;
    height: 29px;
    left: 149px;
    top: 47px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #1A1A1A;
}


.breadcump-number{
    position: absolute;
    width: 29px;
    height: 24px;
    left: 920px;
    top: 49px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    text-align: right;
    color: #1A1A1A;
}

.breadcump-hr{
    position: absolute;
    width: 798px;
    height: 0px;
    left: 150px;
    top: 88px;
    border: 1px solid #1A1A1A;
}

.edit-form{
    width: 100%;
    height: 100%;
    padding-left: 150px;
    padding-right: 135px;
}

.form-group-left{
    position: relative;
    display: table-cell;
    height: 190px;
    width: 541px;
}

.form-group-right{
    position: relative;
    display: table-cell;
    height: 190px;
    padding-left: 35px;
    width: 541px;
}

.form_input_label{
    width: 371px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    display: flex;
    align-items: center;

    color: #000000;
    position: absolute;
    bottom: 82px;
}


.form_input_left{
    box-sizing: border-box;

    width: 371px;
    height: 48px;
    
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    position: absolute;
    bottom: 25px;
}

.form_input_right{
    box-sizing: border-box;
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    position: absolute;
    bottom: 25px;
}

.form-label-hint{
    width: 371px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;

    display: flex;
    align-items: center;

    color: #2E2E2E;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    position: absolute;
    bottom: 0px;
}

.form-full-group{
    position: relative;
}

.form-upload{
    position: relative;
    height: 85px;
    width: 100%;
}

.form-lab-upload{
    position: absolute;
    width: 232px;
    height: 22px;
    top: 54px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #1A1A1A;
}

#form_upload_picture{
    position: relative;
    top: 48px;
    left: 235px;
    width: 30px;
}

.form-btn-upload{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 12px;
    gap: 10px;

    position: absolute;
    width: 107px;
    height: 27px;
    left: 235px;
    top: 54px;

    background: #0E80BF;
    border-radius: 4px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color:#FFFFFF;
    border: none;
    cursor: pointer;
}

.form-full-row{
    position: relative;
    width: 100%;
    height: 160px;
}

.form-full-row-append{
    position: relative;
    width: 100%;
    height: 120px;
}

.form-btn-upload{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 12px;
    gap: 10px;

    position: absolute;
    width: 107px;
    height: 27px;
    left: 235px;
    top: 54px;

    background: #0E80BF;
    border-radius: 4px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color:#FFFFFF;
    border: none;
    cursor: pointer;
}

.textarea-lab{
    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #000000;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    position: absolute;
    bottom: 110px;
}

.form-textarea{
    box-sizing: border-box;

    width: 798px;
    height: 103px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;

    position: absolute;
    bottom: 0px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);

    padding: 13px 16px 13px 16px;
}

.form-full-label{
    width: 798px;
    height: 21px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    position: absolute;
    bottom: 80px;
}

.form-input-full{
    box-sizing: border-box;
    width: 798px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    position: absolute;
    bottom: 23px;
}

.form-full-hint{
    position: absolute;
    bottom: 0px;

    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;

    display: flex;
    align-items: center;

    color: #2E2E2E;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.btn-submit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13px 48px;
    gap: 20px;
    position: relative;
    width: 151px;
    height: 48px;
    left: 652px;
    bottom: -34px;
    background: #6B40E3;
    border-radius: 4px;
    color: #ffffff;
}

.btn-submit-fin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13px 36px;
    gap: 20px;
    position: relative;
    width: 151px;
    height: 48px;
    left: 652px;
    bottom: -34px;
    background: #6B40E3;
    border-radius: 4px;
    color: #ffffff;
}

.btn-goback{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 37px;
    gap: 20px;
    position: relative;
    width: 113px;
    height: 48px;
    left: 150px;
    top: 80px;
    background: #6B40E3;
    border-radius: 4px;
    color:#ffffff;
}

.btn-add-experience{

    padding: 10px 28px;
    position: absolute;
    bottom: 10px;
    width: 289px;
    height: 48px;

    background: #62A1EB;
    border-radius: 4px;
    border-color: transparent;
    color: #ffffff;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}


/** GENERAL COMPONENT **/

.gn-edit{
    position: absolute;
    width: 1082px;
    height: 1080px;
    display: table;
    
    background: #F9F9F9;
}



/** EXPERIENCE COMPONENT **/

.exp-hr{
    position: relative;
    top: 53px;
    width: 798px;
    height: 0px;
    border: 1px solid #C1C1C1;
}

/** VIEW COMPONENT **/

.view-main{
    position: absolute;
    width: 822px;
    height: 100%;
    right: 0px;
    top: 0px;
    background: #FFFFFF;
}

.view-general{
    position: relative;
    width: 822px;
    height: 300px;
    right: 0px;
    top: 0px;
}

.view-name{
    position: absolute;
    width: 123px;
    height: 42px;
    left: 80px;
    top: 68px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;

    color: #F93B1D;
}

.view-surname{
    position: absolute;
    width: 145px;
    height: 42px;
    left: 223px;
    top: 68px;    

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;

    color: #F93B1D;
}

.view-mail{
    position: absolute;
    left: 82.67px;
    top: 130.67px;
}

.view-phone{
    position: absolute;
    left: 82.67px;
    top: 160.8px;
}

.view-email-text{
    position: absolute;
    width: 179px;
    height: 21px;
    left: 111px;
    top: 127px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #1A1A1A;
}

.view-phone-text{
    position: absolute;
    width: 151px;
    height: 21px;
    left: 111px;
    top: 158px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #1A1A1A;
}

.view-label-aboutme{
    position: absolute;
    width: 118px;
    height: 22px;
    left: 80px;
    top: 213px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    
    color: #F93B1D;
}

.view-aboutme{
    position: absolute;
    width: 432px;
    height: 72px;
    left: 80px;
    top: 250px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */

    text-transform: lowercase;

    color: #000000;
}

.view-picture{
    position: absolute;
    width: 246px;
    height: 246px;
    left: 501px;
    top: 48px;

    border-radius: 133px;
}

.view-experience{
    position: relative;
}

.view-hr{
    position: relative;
    width: 662px;
    height: 0px;
    right: -70px;
    top: 15px;
    border: 1px solid #C8C8C8;
}

.view-lab-experience{
    position: relative;
    width: 143px;
    display: block;
    height: 10;
    height: 40px;
    left: 80px;
    bottom: -30px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    /* margin-bottom: 40px; */
    color: #F93B1D;
}

.view-lab-exp{
    position: relative;
    width: 178px;
    height: 20px;
    left: 80px;
    bottom: -24px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
}

.view-exp-table{
    min-height: 165px;
    position: relative;
    top: 33px;
}

.view-exp-table  td{
    left: 77px;
    position: relative;
    min-height: 10px;
    /* width: 100%; */
    padding: -10px;
}

.view-exp-table  tr{
    /* top: 0px; */
    position: relative;
    height: 18px;
}

.view-tbl-td1{
    position: absolute;
    width: 400px;
    height: 20px;
    
    top: 0px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
}

.view-tbl-td2{
    position: absolute;
    width: 170px;
    height: 19px;
    top: 22px;
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919191;
}

.view-tbl-td3{
    position: absolute;
    width: 662px;
    height: 66px;
    top: 57px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
}



/** Validations **/

.input-invalid{
    border: 1px solid #EF5050 !important;
    border-radius: 4px;
}

.input-valid{
    border: 1px solid #98E37E !important;
    border-radius: 4px;
}

.label-invalid{
    color: #E52F2F !important;
}

.svg-div{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0px;
}

.svg-div-full{
    position: absolute;
    bottom: 0px;
    width: 104%;
    height: 0px;
}

.svg-div-full-svg{
    position: absolute;
    bottom: 0px;
    width: 105%;
    height: 0px;
}

.svg-div-exp{
    position: absolute;
    bottom: 0px;
    width: 105%;
    height: 0px;
}

.svg-valid{
    position: absolute;
    bottom: 39px;
    left: 343px;
}

.svg-valid-full{
    position: absolute;
    bottom: 39px;
    left: 765px;
}

.svg-invalid{
    position: absolute;
    bottom: 41px;
    left: 97%;
}


/** Education Page **/

.ed-select{
    width: 371px;
    height: 48px;

    padding: 12px 16px 12px 16px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.ed-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 16px;
    gap: 10px;

    width: 370px;
    height: 41px;

    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


/** VueJS Date Picker **/

.dp__input{
    height: 46px;
}

.dp__clear_icon{
    display: none;
}

.dp__cancel{
    display: none;
}